@import url("https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
html, body, header, nav, h1, a,
ul, li, strong, main, button, i, em,
section, img, div, h2, p, form, h3, h4, h5 fieldset,
label, input, textarea,
span, article, footer, time, small, select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type=password],
input[type=email],
input[type=text],
input[type=submit],
textarea,
button,
select {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

#forecast-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  min-height: 770px;
  background-color: #45454E;
}

.copy {
  font-family: "Roboto Condensed";
  font-size: 16px;
  letter-spacing: 0.5px;
  color: white;
  position: absolute;
}

#go-back {
  position: absolute;
  top: 10px;
  left: 10px;
}
#go-back #go-back-arrow {
  height: 30px;
  fill: #797983;
  transition: fill 0.1s;
}
#go-back:hover #go-back-arrow {
  fill: #fff;
}

#key-icon {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 30px;
  fill: #797983;
  transition: fill 0.1s;
}
#key-icon:hover {
  fill: #fff;
}
#key-icon:hover ~ #key {
  opacity: 1;
}

#key {
  top: 45px;
  left: 60px;
  text-align: left;
  border-radius: 10px;
  padding: 16px;
  opacity: 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  list-style: none;
  transition: opacity 0.2s ease;
}
#key li {
  line-height: 14px;
  color: #797983;
}
#key li span {
  padding-left: 5px;
  color: #fff;
  font-size: 14px;
}

#date {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  left: 150px;
  top: 10px;
}
#date span {
  color: #797983;
  font-size: 14px;
}

#api-credit {
  font-size: 11px;
  top: 740px;
  left: 8px;
}
#api-credit a {
  text-decoration: underline;
}

.container {
  text-align: center;
  position: absolute;
}
.container:hover {
  cursor: default;
}
.container.temperature {
  left: 200px;
  top: 147.5px;
}
.container.temperature .copy {
  left: 125px;
  top: 30px;
  text-align: right;
}
.container.temperature .copy .reading {
  font-size: 60px;
}
.container.temperature .copy .reading span {
  font-size: 32px;
  color: #797983;
}
.container.rainfall {
  left: 550px;
  top: 263px;
}
.container.rainfall .copy {
  top: 40px;
  left: 170px;
  text-align: right;
}
.container.rainfall .copy .reading {
  font-size: 54px;
}
.container.rainfall .copy .reading span {
  font-size: 38px;
  color: #797983;
}
.container.rainfall .copy .unavailable {
  font-size: 20px;
  color: #797983;
}
.container.humidity {
  left: 509px;
  top: 30px;
}
.container.humidity .copy {
  top: 80px;
  left: 53px;
}
.container.humidity .copy .reading {
  margin-bottom: 50px;
  font-size: 32px;
}
.container.air-pressure {
  left: 900px;
  top: 30px;
}
.container.air-pressure .copy {
  top: 80px;
  left: 53px;
}
.container.air-pressure .copy .reading {
  margin-bottom: 50px;
  font-size: 32px;
}
.container.air-pressure .copy .reading span {
  font-size: 22px;
  color: #797983;
}
.container.windspeed {
  left: 509px;
  top: 520px;
}
.container.windspeed .copy {
  top: 80px;
  left: 67px;
}
.container.windspeed .copy .reading {
  margin-bottom: 50px;
  font-size: 32px;
}
.container.windspeed .copy .reading span {
  font-size: 22px;
  color: #797983;
}
.container.wind-direction {
  left: 930px;
  top: 548px;
}

#thermometer {
  height: 400px;
}
#thermometer .outline {
  stroke: #feffff;
  fill: none;
  stroke-width: 5px;
}
#thermometer .fill {
  fill: #ebf501;
  stroke: none;
}

#rain-meter {
  height: 200px;
}
#rain-meter .outline {
  stroke: #feffff;
  fill: none;
  stroke-width: 2px;
}
#rain-meter .fill {
  fill: #65b5fe;
  stroke: none;
}

.gauge {
  height: 180px;
}
.gauge .outline {
  stroke-width: 4px;
  fill: none;
  stroke: #feffff;
  stroke-dasharray: 75, 100;
  stroke-linecap: round;
}
.gauge .background {
  fill: none;
  stroke: #45454E;
  stroke-width: 2.8;
  stroke-dasharray: 75, 100;
  stroke-linecap: round;
}
.gauge .fill {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}
.gauge .fill.windspeed {
  stroke: #ff3000;
}
.gauge .fill.humidity {
  stroke: #0059b3;
}
.gauge .fill.pressure {
  stroke: #03d967;
}

.wind-direction-gauge {
  height: 120px;
}
.wind-direction-gauge .circle {
  fill: none;
  stroke: #8e909c;
  stroke-width: 2px;
}
.wind-direction-gauge .wind-direction-reading {
  transform-origin: center;
  fill: #ef22c5;
  stroke: #feffff;
  stroke-width: 4px;
  height: 50px;
}

.key.copy {
  text-align: left;
}
.key.copy h2 {
  font-size: 14px;
}
.key.copy li {
  list-style: none;
  font-size: 12px;
  padding-left: 8px;
}
.key.copy li span {
  font-size: 14px;
}
.key.copy p {
  font-size: 10px;
}
.key.copy p a {
  text-decoration: underline;
}

.error-message.copy {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}
.error-message.copy span {
  font-size: 20px;
}
.error-message.copy span a {
  text-decoration: underline;
}

.loading img {
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pressure, .humidity, .windspeed, .thermo, .rain, .wind-direction-reading {
  transition: all 1s cubic-bezier(0.29, 0.02, 0.54, 1.34);
}

.no-height.active {
  height: 0;
}

.empty.active {
  stroke-dasharray: 0, 100;
}

.bg-buffer.left {
  background-color: #FFD482;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.bg-buffer.right {
  background-color: #C9A56B;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}

#home-wrapper {
  position: relative;
  display: flex;
  min-width: 1244px;
}

#bg-left {
  background: url("./assets/static/bg-left.svg") no-repeat;
  min-height: 700px;
  max-width: 622px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
#bg-left img {
  position: absolute;
}
#bg-left .cloud-1 {
  height: 72px;
  top: 25px;
  -webkit-animation: cloud-move 35s linear 2s infinite backwards;
  -moz-animation: cloud-move 35s linear 2s infinite backwards;
  -o-animation: cloud-move 35s linear 2s infinite backwards;
  animation: cloud-move 35s linear 2s infinite backwards;
}
#bg-left .cloud-2 {
  height: 60px;
  top: 65px;
  -webkit-animation: cloud-move 45s linear 6s infinite backwards;
  -moz-animation: cloud-move 45s linear 6s infinite backwards;
  -o-animation: cloud-move 45s linear 6s infinite backwards;
  animation: cloud-move 45s linear 6s infinite backwards;
}
#bg-left .cloud-3 {
  height: 50px;
  top: 5px;
  -webkit-animation: cloud-move 25s linear infinite backwards;
  -moz-animation: cloud-move 25s linear infinite backwards;
  -o-animation: cloud-move 25s linear infinite backwards;
  animation: cloud-move 25s linear infinite backwards;
}
#bg-left .cloud-4 {
  height: 33px;
  top: 130px;
  -webkit-animation: cloud-move 39s linear infinite backwards;
  -moz-animation: cloud-move 39s linear infinite backwards;
  -o-animation: cloud-move 39s linear infinite backwards;
  animation: cloud-move 39s linear infinite backwards;
}
#bg-left .cloud-5 {
  height: 23px;
  top: 110px;
  -webkit-animation: cloud-move 50s linear 8s infinite backwards;
  -moz-animation: cloud-move 50s linear 8s infinite backwards;
  -o-animation: cloud-move 50s linear 8s infinite backwards;
  animation: cloud-move 50s linear 8s infinite backwards;
}

#bg-right {
  background: url("./assets/static/bg-right.svg") no-repeat;
  min-height: 700px;
  max-width: 622px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
#bg-right img {
  position: absolute;
}
#bg-right .trees {
  top: 153px;
  left: 55px;
  height: 90px;
  -webkit-animation: tree-blow 4s cubic-bezier(0.23, 0.62, 0.99, 1.62) infinite;
  -moz-animation: tree-blow 4s cubic-bezier(0.23, 0.62, 0.99, 1.62) infinite;
  -o-animation: tree-blow 4s cubic-bezier(0.23, 0.62, 0.99, 1.62) infinite;
  animation: tree-blow 4s cubic-bezier(0.23, 0.62, 0.99, 1.62) infinite;
}
#bg-right .cloud-1 {
  height: 80px;
  top: 30px;
  right: 165px;
}
#bg-right .cloud-2 {
  height: 68px;
  top: 100px;
  left: 110px;
}
#bg-right .cloud-3 {
  height: 40px;
  top: 130px;
  right: 75px;
}
#bg-right .cloud-4 {
  height: 32px;
  top: 45px;
}

#bg-right .cloud-1, #bg-right .cloud-2, #bg-right .cloud-3, #bg-right .cloud-4, #bg-right .cloud-5 {
  z-index: 10;
}
#bg-right .lightning-1, #bg-right .lightning-2, #bg-right .lightning-3 {
  z-index: 5;
}

#bg-right .lightning-1 {
  height: 70px;
  top: 40px;
  right: 180px;
  z-index: -1;
  -webkit-animation: lightning-strike 6s linear infinite;
  -moz-animation: lightning-strike 6s linear infinite;
  -o-animation: lightning-strike 6s linear infinite;
  animation: lightning-strike 6s linear infinite;
}
#bg-right .lightning-2 {
  height: 55px;
  right: 129px;
  top: 55px;
  z-index: -1;
  -webkit-animation: lightning-strike 6.3s linear infinite;
  -moz-animation: lightning-strike 6.3s linear infinite;
  -o-animation: lightning-strike 6.3s linear infinite;
  animation: lightning-strike 6.3s linear infinite;
}
#bg-right .lightning-3 {
  height: 55px;
  left: 100px;
  top: 112px;
  z-index: -1;
  -webkit-animation: lightning-strike 7s linear infinite;
  -moz-animation: lightning-strike 7s linear infinite;
  -o-animation: lightning-strike 7s linear infinite;
  animation: lightning-strike 7s linear infinite;
}

#letters {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}
#letters .beach {
  -webkit-animation: enter-left 0.5s ease-in-out 0.75s backwards;
  -moz-animation: enter-left 0.5s ease-in-out 0.75s backwards;
  -o-animation: enter-left 0.5s ease-in-out 0.75s backwards;
  animation: enter-left 0.5s ease-in-out 0.75s backwards;
}
#letters .or {
  -webkit-animation: enter-right 0.5s ease-in-out 1.5s backwards;
  -moz-animation: enter-right 0.5s ease-in-out 1.5s backwards;
  -o-animation: enter-right 0.5s ease-in-out 1.5s backwards;
  animation: enter-right 0.5s ease-in-out 1.5s backwards;
}
#letters .nah {
  -webkit-animation: enter-left 0.5s ease-in-out 2.25s backwards;
  -moz-animation: enter-left 0.5s ease-in-out 2.25s backwards;
  -o-animation: enter-left 0.5s ease-in-out 2.25s backwards;
  animation: enter-left 0.5s ease-in-out 2.25s backwards;
}

#form {
  position: absolute;
  left: 50%;
  top: 425px;
  transform: translateX(-50%);
  color: white;
}
#form input {
  width: 300px;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}

.btn {
  position: absolute;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  top: 480px;
  border: 1px solid white;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@keyframes cloud-move {
  from {
    -webkit-transform: translateX(-375px);
  }
  to {
    -webkit-transform: translateX(375px);
  }
}
@keyframes tree-blow {
  0% {
    -webkit-transform: skewX(0deg);
  }
  50% {
    -webkit-transform: skewX(0deg);
  }
  60% {
    -webkit-transform: skewX(-4deg);
    transform-origin: 100% 100%;
  }
  70% {
    -webkit-transform: skewX(-14deg);
    transform-origin: 100% 100%;
  }
  80% {
    -webkit-transform: skewX(-10deg);
    transform-origin: 100% 100%;
  }
  90% {
    -webkit-transform: skewX(-12deg);
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: skewX(0deg);
    transform-origin: 100% 100%;
  }
}
@keyframes lightning-strike {
  85% {
    -webkit-transform: translateY(0px);
  }
  90% {
    -webkit-transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes enter-right {
  from {
    opacity: 0;
    transform: translate(200px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes enter-left {
  from {
    opacity: 0;
    transform: translate(-200px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
