svg {
    height: 200px;
}

stop {
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.mask-rect {

	transition: height 1s cubic-bezier(0.29, 0.02, 0.54, 1.34);
}

.no-height.active {
	height: 0
}

@keyframes fill {
	0% { height: 0; }
	50% { height: 100%; }
	100% { height: 0; }
}


.milk-bottle {
	width: 400px;
	height: 400px;
}


.mask-rect {
	animation: fill 2s ease-in-out infinite;
}

	// animation: fill 2s ease-in-out infinite;

#mask {
	fill: pink;
	stroke: none;
}