html, body, header, nav, h1, a,
ul, li, strong, main, button, i, em,
section, img, div, h2, p, form, h3, h4, h5 fieldset,
label, input, textarea,
span, article, footer, time, small, select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type=password],
input[type=email],
input[type=text],
input[type=submit],
textarea,
button,
select {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

svg {
  height: 200px;
}

stop {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mask-rect {
  transition: height 1s cubic-bezier(0.29, 0.02, 0.54, 1.34);
}

#pressure {
  transition: 1s cubic-bezier(0.29, 0.02, 0.54, 1.34);
}

.no-height.active {
  height: 0;
}

.empty.active {
  stroke-dasharray: 0, 100;
}

.milk-bottle {
  width: 400px;
  height: 400px;
}

#mask {
  fill: pink;
  stroke: none;
}

#home-wrapper {
  position: relative;
  display: flex;
  min-width: 1244px;
}

#bg-left {
  background: url("/assets/static/bg-left.svg") no-repeat;
  min-height: 700px;
  max-width: 622px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
#bg-left img {
  position: absolute;
}
#bg-left .cloud-1 {
  height: 72px;
  top: 25px;
}
#bg-left .cloud-2 {
  height: 60px;
  top: 55px;
}
#bg-left .cloud-3 {
  height: 50px;
  top: 5px;
}
#bg-left .cloud-4 {
  height: 33px;
  top: 130px;
}
#bg-left .cloud-5 {
  height: 33px;
  top: 110px;
}

#bg-right {
  background: url("/assets/static/bg-right.svg") no-repeat;
  min-height: 700px;
  max-width: 622px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  transform: translateX(-1px);
}

#form {
  position: absolute;
}

@keyframes move {
  from {
    -webkit-transform: translateX(-400px);
  }
  to {
    -webkit-transform: translateX(500px);
  }
}
